/0_Compiler_Test/hello
/1_Customer_Order_Sorting_System/merge_sort
/2_Movie_Recommendation_System/quick_sort
/3_Emergency_Relief_Supply/fractional_knapsack
/4_Smart_Traffic_Management/dijkstra
/5_Multi_Stage_Delivery/multistage_graph
/6_Disaster_Relief_Resource/knapsack_01
/7_University_Timetable_Scheduling/graph_coloring

/0_Compiler_Test/hello
/1_Customer_Order_Sorting_System/README.md
/2_Movie_Recommendation_System/README.md
/3_Emergency_Relief_Supply/README.md
/4_Smart_Traffic_Management/README.md
/5_Multi_Stage_Delivery/README.md
/6_Disaster_Relief_Resource/README.md
/7_University_Timetable_Scheduling/README.md

compile_all.bat
compile_all.sh
documentation.typ